@using TrackDaNutzz.ViewModels
@using TrackDaNutzz.Helpers
@model StatisticsListByStakeViewModel
@inject TrackDaNutzz.Services.Players.IPlayersService PlayersService
@{
    ViewData["Title"] = "Index";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Stakes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Stake
                        </th>
                        <th>
                            Hands Played
                        </th>
                        <th>
                            $ Won (T / A)
                        </th>
                        <th>
                            BB Won (T / A)
                        </th>
                        <th>
                            VPIP
                        </th>
                        <th>
                            PFR
                        </th>
                        <th>
                            3B
                        </th>
                        <th>
                            4B
                        </th>
                        <th>
                            AF
                        </th>
                        <th>
                            CB
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Stake
                        </th>
                        <th>
                            Hands Played
                        </th>
                        <th>
                            $ Won (T / A)
                        </th>
                        <th>
                            BB Won (T / A)
                        </th>
                        <th>
                            VPIP
                        </th>
                        <th>
                            PFR
                        </th>
                        <th>
                            3B
                        </th>
                        <th>
                            4B
                        </th>
                        <th>
                            AF
                        </th>
                        <th>
                            CB
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @if (this.PlayersService.HasActivePlayer())
                    {
                        @foreach (var item in Model.StatisticsByStakeViewModels)
                        {
                            <tr>
                                <td>@(item.CurrencySymbol)@(item.SmallBlind.ToString("0.00"))/@(item.CurrencySymbol)@(item.BigBlind.ToString("0.00"))</td>
                                <td>@item.HandsPlayed</td>
                                <td>@(item.CurrencySymbol)@(item.MoneyWon.ToString("0.00"))/@(item.CurrencySymbol)@(MathOperations.Divide(item.MoneyWon, item.HandsPlayed).ToString("0.00"))</td>
                                <td>@(item.BigBlindsWon)/@(MathOperations.Divide(item.BigBlindsWon, item.HandsPlayed).ToString("0.00"))</td>
                                <td>@((MathOperations.Divide(item.VoluntaryPutMoneyInPot, item.HandsPlayed) * 100).ToString("0.00"))</td>
                                <td>@((MathOperations.Divide(item.PreFlopRaise, item.HandsPlayed) * 100).ToString("0.00"))</td>
                                <td>@((MathOperations.Divide(item.ThreeBet, item.HandsPlayed) * 100).ToString("0.00"))</td>
                                <td>@((MathOperations.Divide(item.FourBet, item.HandsPlayed) * 100).ToString("0.00"))</td>
                                <td>@(item.AggressionFactor.ToString("0.00"))</td>
                                <td>@((MathOperations.Divide(item.ContinuationBet, item.HandsPlayed) * 100).ToString("0.00"))</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

